body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f8f8f8; */
    background-color: #21282e;
}

header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.header-right {
    margin-top: 2rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

main > div {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: center;
    background-color: #fff;
}

main > div:hover {
    transform: translateY(-2px);
    transition: transform 0.2s ease-in-out;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}